In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import datasets

In [4]:
lf = pd.read_csv('../data/listings_final.csv', sep=";"); lf.head()

,Unnamed: 0,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor
0,0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00
1,1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69
2,2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00
3,3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48
4,4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90

In [5]:
pa = pd.read_csv('../data/price_availability.csv', sep=";"); pa.head()

,listing_id,day,created,available,local_currency,local_price,min_nights
0,9810829,2018-12-08,2018-09-27 06:14:10.000+0000,True,EUR,160,1
1,9810829,2018-12-08,2018-09-26 19:34:02.000+0000,True,EUR,160,1
2,20897010,2018-12-09,2018-09-27 10:38:57.000+0000,True,EUR,172,2
3,20897010,2018-12-09,2018-09-27 06:10:27.000+0000,True,EUR,172,2
4,20897010,2018-12-09,2018-09-26 19:30:25.000+0000,True,EUR,172,2

In [6]:
# creer nouvelle column sur lf
#lf["PrixMoyen"] = None
# creer un tableau avec les moyennes
#prixMoyen = paPrix.groupby(['listing_id'])
#prixMoyen

# boucler sur listing_id, attribuer la moyenne du group_by(pa.listing_id)
#for listing_id in lf['listing_id']:
#    prixm = prixMoyen[prixMoyen["listing_id"] == listing_id]
#    test = lf[lf['listing_id'] == listing_id]
#    test["PrixMoyen"] = prixMoyen[listing_id].local_price

In [7]:
# Version benjamin
# on créé g --> tableau de clés associatives de la forme [listing_id => [ses historiques de prix]]

g = pa.groupby('listing_id');

# on ajoute une nouvelle colonne dans le DataFrame qui contient toutes les infos

lf['price_avg'] = 0


# on fait un boucle sur les lignes du DataFrame qui contient toutes les infos (i = index, x = data)
for (i,x) in lf.iterrows():
#on vérifie que le listing_id possède bien des historiques de prix en regardant si la valeur de listing_id est bien une clé du tableau d'historique g
    if x.listing_id in g.groups.keys():
        # on ajoute pour la ligne i (qui correspond à la ligne) et pour la colonne price_avg la moyenne de tous les historiques de prix
        lf.loc[i,'price_avg'] = g.get_group(x.listing_id).local_price.mean()

lf

,Unnamed: 0,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor,price_avg
0,0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00,45.948454
1,1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69,44.473684
2,2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00,49.000000
3,3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48,165.000000
4,4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90,69.774436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,28335197,Studio cosy Jardin du Luxembourg,entire_home,Paris,Saint Germain des Prés - Odéon,48.848695,2.325857,2,1,0,1.0,False,True,True,False,False,0.79,1.00,38.507732
996,996,28583013,Charmant 30m2 - Faubourg Saint Martin,entire_home,Paris,République,48.871623,2.358006,3,1,1,1.0,False,True,True,False,False,1.00,1.00,147.752551
997,997,28628316,Cosy flat in the marais - Best area,entire_home,Paris,2e arrondissement,48.867434,2.351771,4,2,1,1.0,False,True,True,True,False,1.00,1.00,152.860825
998,998,28792796,Appartement 3 chambres madeleine.,entire_home,Paris,Madeleine - Vendôme,48.870109,2.321475,6,4,2,1.5,False,True,True,False,False,1.00,1.00,49.184211
999,999,28682896,Village Jourdain,private_room,Paris,Buttes-Chaumont - Belleville,48.875425,2.395240,2,1,1,1.0,False,True,True,False,False,1.00,1.00,39.503937

In [8]:
#utiliser la méthode split de sklearn en splitant avec un alpha=30 et un random state=42
#import train test split
from sklearn.model_selection import train_test_split
#Definition X et y
lf.dropna()
X = lf[["person_capacity", "beds", "bedrooms", "bathrooms"]]
y = lf["price_avg"]

X, y

(     person_capacity  beds  bedrooms  bathrooms
 0                  1     1         1        2.0
 1                  2     1         1        1.0
 2                  1     1         1        1.0
 3                  3     2         2        1.0
 4                  2     1         1        1.0
 ..               ...   ...       ...        ...
 995                2     1         0        1.0
 996                3     1         1        1.0
 997                4     2         1        1.0
 998                6     4         2        1.5
 999                2     1         1        1.0

 [1000 rows x 4 columns],
 0       45.948454
 1       44.473684
 2       49.000000
 3      165.000000
 4       69.774436
           ...
 995     38.507732
 996    147.752551
 997    152.860825
 998     49.184211
 999     39.503937
 Name: price_avg, Length: 1000, dtype: float64)

In [9]:
y.isna().sum()

0

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((700, 4), (300, 4), (700,), (300,))

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression().fit(X_train, y_train)

In [12]:
model.fit(X_train, y_train)

LinearRegression()

In [13]:
# Coeficient directeur
model.coef_

array([ 43.92326311, -33.39071743,  26.4891331 ,  90.14340271])

In [14]:
# Beta 0
model.intercept_

-49.96187385427697

In [15]:
y_pred = model.predict(X_test)
len(y_pred)

300

In [16]:
model.score(X_test,y_test)

0.3363171787028869

In [17]:
from sklearn.metrics import mean_squared_error, r2_score
print(mean_squared_error(y_test, y_pred))
print(r2_score(y_test, y_pred))

23353.183011525936
0.3363171787028869

In [18]:
np.sqrt(mean_squared_error(y_test, y_pred))

152.81748267631534

In [19]:
#analyser le code ci-dessous 
import scipy
Y_pred = regr.predict(X_train)
n = X_train.shape[0]
p = 4
residuals = np.abs(y_train - Y_pred)
H = np.matmul(X_train, np.linalg.solve(np.dot(X_train.T, X_train), X_train.T))
std_hat = np.dot(residuals, residuals) / (n - p)
standart_residuals = np.asarray([residuals[i] / np.sqrt(std_hat * (1 - H[i, i])) for i in range(len(residuals))])
student_residuals = np.asarray([ standart_residuals[i] * np.sqrt((n - p - 1) / (n - p - standart_residuals[i]**2)) for i in range(n) ])
cook = np.asarray([ H[i, i] * student_residuals[i] / (X_train.shape[1] * (1 - H[i, i])) for i in range(n) ])

plt.figure(figsize=(20, 12))
plt.subplot(221)
plt.scatter(Y_pred, student_residuals, s=12, c="white", edgecolors="blue")
plt.plot([min(Y_pred), max(Y_pred)], [ scipy.stats.t.ppf(q=0.975, df=n-p-1), scipy.stats.t.ppf(q=0.975, df=n-p-1)], color="green", alpha=0.6, label="Quantile de Student")
plt.title("Analyse de l’homoscédasticité")
plt.xlabel("Prédictions $\hat{y}_i$")
plt.ylabel("Résidus studentisés $|t_i^*|$")
plt.legend()

NameError: name 'regr' is not defined