# TV shows on Netflix, Prime Video, Hulu and Disney+
###  A quel site de streaming propose le meilleur contenue pour une personne adulte ?

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('./tv_shows.csv'); df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5611 entries, 0 to 5610
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5611 non-null   int64
 1   Title            5611 non-null   object
 2   Year             5611 non-null   int64
 3   Age              3165 non-null   object
 4   IMDb             4450 non-null   float64
 5   Rotten Tomatoes  1011 non-null   object
 6   Netflix          5611 non-null   int64
 7   Hulu             5611 non-null   int64
 8   Prime Video      5611 non-null   int64
 9   Disney+          5611 non-null   int64
 10  type             5611 non-null   int64
dtypes: float64(1), int64(7), object(3)
memory usage: 482.3+ KB

In [5]:
df.describe()

,Unnamed: 0,Year,IMDb,Netflix,Hulu,Prime Video,Disney+,type
count,5611.000000,5611.000000,4450.000000,5611.000000,5611.000000,5611.000000,5611.000000,5611.0
mean,2805.000000,2011.021030,7.113258,0.344145,0.312600,0.382107,0.032080,1.0
std,1619.900511,11.005116,1.132060,0.475131,0.463594,0.485946,0.176228,0.0
min,0.000000,1901.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,1402.500000,2010.000000,6.600000,0.000000,0.000000,0.000000,0.000000,1.0
50%,2805.000000,2015.000000,7.300000,0.000000,0.000000,0.000000,0.000000,1.0
75%,4207.500000,2017.000000,7.900000,1.000000,1.000000,1.000000,0.000000,1.0
max,5610.000000,2020.000000,9.600000,1.000000,1.000000,1.000000,1.000000,1.0